@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

/************
GLOBAL STYLES
*************/
:root {
  /*colors*/
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  /*font family*/
  --spartan-sans: "Spartan", sans-serif;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--spartan-sans);
}

/************
MOBILE LAYOUT
*************/
.container {
  position: relative;
  background-color: var(--white);
  min-height: 100vh;
  width: 37.5rem;
  width: 100%;

  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0rem 0rem, 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8rem 2.6rem;
}

/*cta styles*/
.cta {
  &--title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--very-dark-magenta);
    text-align: center;
    margin-bottom: 2.2rem;
  }
  &--paragraph {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: var(--dark-grayish-magenta);
    text-align: center;
  }
}

/*rating styles*/
.rating {
  position: relative;
  width: 100%;
  min-height: 25.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0;
  &--wrapper {
    min-height: 7.5rem;
    width: 100%;
    background-color: var(--light-grayish-magenta);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &--star {
    display: flex;
    & div {
      padding: 0 1.2rem;
      height: 1.6rem;
      width: 1.6rem;
      background-image: url(../images/icon-star.svg);
      background-repeat: no-repeat;
    }
  }
  &--title {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--very-dark-magenta);
  }
}

/*testimony styles*/
.testimony {
  position: relative;
  width: 100%;
  min-height: 77rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--wrapper {
    background-color: var(--very-dark-magenta);
    width: 100%;
    min-height: 24.5rem;

    border-radius: 10px;
    padding: 3.5rem 3.7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &--customer {
    width: 18rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "images names"
      "images titles";
    align-items: center;

    &-image {
      height: 4rem;
      width: 4rem;

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      border-radius: 50%;

      grid-area: images;

      &.image1 {
        background-image: url(../images/image-colton.jpg);
      }
      &.image2 {
        background-image: url(../images/image-irene.jpg);
      }
      &.image3 {
        background-image: url(../images/image-anne.jpg);
      }
    }
    &-name {
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 500;
      grid-area: names;
    }
    &-title {
      color: var(--soft-pink);
      font-size: 1.3rem;

      grid-area: titles;
    }
  }
  &--quote {
    color: var(--light-grayish-magenta);
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

/*************
TABLET LAYOUT
**************/
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "cta ratings" "testimony testimony";

    padding: 9rem 5rem;

    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
  }
  /*cta styles*/
  .cta {
    grid-area: cta;
    width: 90%;
    &--title {
      font-size: 4rem;
      text-align: initial;
      line-height: 4.5rem;
      margin-bottom: 1.2rem;
    }
    &--paragraph {
      font-size: 1.4rem;
      text-align: initial;
      line-height: 2.4rem;
      font-weight: 500;
    }
  }

  /*rating styles*/
  .rating {
    justify-self: flex-end;
    grid-area: ratings;

    min-height: 18rem;

    margin: 0 0;
    &--wrapper {
      min-height: 5rem;
      width: 42rem;
      flex-direction: row;

      &.rating1 {
        align-self: flex-start;
      }
      &.rating2 {
        align-self: center;
      }
      &.rating3 {
        align-self: flex-end;
      }
    }
  }

  /*testimony styles*/
  .testimony {
    grid-area: testimony;
    min-height: 26rem;

    flex-direction: row;
    justify-content: space-between;
    &--wrapper {
      width: 32%;
      min-height: 20rem;

      padding: 2.2rem 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &.testimony1 {
        align-self: flex-start;
      }
      &.testimony2 {
        align-self: center;
        margin: 0 2rem;
      }
      &.testimony3 {
        align-self: flex-end;
      }
    }

    &--customer {
      margin-bottom: 2rem;
    }
  }
}

/*************
DESKTOP LAYOUT
**************/
@media screen and (min-width: 1366px) {
  .container {
    padding: 9rem 24.5rem;
    background-image: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
  }
  /*cta styles*/
  .cta {
    width: 85%;
    &--title {
      font-size: 4.5rem;
    }
  }
  /*rating styles*/
  .rating {
    width: 96.5%;
    margin: 0 0;
  }

  /*testimony styles*/
  .testimony {
    &--wrapper {
      width: 33rem;
      min-height: 22rem;
      padding: 3.5rem 3rem;
    }
  }
}

/*****************
ATTTRIBUTION STYLE
******************/
.attribution {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin-top: 2rem;
  font-size: 1.5rem;
  color: black;
  text-align: center;

  & a {
    font-size: 1.5rem;
    color: black;
  }
}
